<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{% if a > b %}</h1> 
        <h1>{% if a > c %}</h1> 
            <h1>nested if 'a' is greater</h1>
        <h1>{% else %}</h1> 
            <h1> 'c' is greater</h1>
        <h1>{% endif %}</h1>
    <h1>else</h1>
    <h1>{% else %}</h1>
        <h1>{% if b > c %}</h1> 
            <h1>elif 'b' is greater</h1>
        <h1>{% else %}</h1>
            <h1> 'c' is greater</h1>
        <h1>{% endif %}</h1>
    <h1>{% endif %}</h1>        

</body>
</html>